* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
  background: linear-gradient(-25deg, #17212c 15%, #222f3e 70%);
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3.2rem 1%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  color: #f1f1f1;
}

h1 img {
  width: 5rem;
  height: auto;
  margin-right: 2rem;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
}

.select-container select {
  background: #f1f1f1;
  width: 100%;
  max-width: 10rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #17212c;
  outline: none;
  cursor: pointer;
}

.select-container select option {
  background: #f1f1f1;
  padding: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #17212c;
}

.controls,
.controls .numbers,
.controls div:not(.numbers) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  margin: 3.2rem 0;
}

.controls div:not(.numbers) {
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #f1f1f1;
  cursor: pointer;
}

.controls .numbers div.active {
  color: #ed5564;
}

.pokemons-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.pokemon {
  background: #8395a7;
  padding: 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
}

.pokemon h2 {
  font-size: 2rem;
  font-weight: 700;
}

.pokemon img {
  width: 100%;
  max-width: 10rem;
  margin: 0.8rem 0;
}

.pokemon p {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.pokemon.grass {
  background: #20bf6b;
}

.pokemon.fire {
  background: #e74c3c;
}

.pokemon.water {
  background: #3867d6;
}

.pokemon.bug {
  background: #f7b731;
}

.pokemon.poison {
  background: #8854d0;
}

.pokemon.electric {
  background: #fa8231;
}

.pokemon.ground {
  background: #fd9644;
}

.pokemon.psychic {
  background: #ff9ff3;
}

.pokemon.ghost {
  background: #341f97;
}

.pokemon.fairy {
  background: #fd79a8;
}

.pokemon.rock {
  background: #3d3d3d;
}

.pokemon.ice {
  background: #48dbfb;
}

.pokemon.fighting {
  background: #ff6b6b;
}

.pokemon.normal {
  background: #c8d6e5;
}

.pokemon.dragon {
  background: #4b6584;
}

.pokemon.dark {
  background: #2c3a47;
}

.pokemon.steel {
  background: #778ca3;
}

@media (max-width: 450px) {
  .pokemon h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .pokemon img {
    width: 100%;
    max-width: 10rem;
    margin: 0.8rem 0;
  }

  .pokemon p {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
